.all_notes {
    width: 25%;
    float: left;
    text-align:justify;
}
.single_note {
    width: 75%;
    float: left;
    text-align:justify;
}
.single_preview {
    border-style: outset;
}

a {
    text-decoration : none;
    color : #000;
}

