.all_notes {
    width: 10%;
    height:100vh;
    overflow-y: auto;
    float: left;
    text-align:justify;
}
.single_note {
    width: 70%;
    height:100vh;
    overflow-y: auto;
    float: left;
    text-align:justify;
}
.single_preview {
    border-style: outset;
}

a {
    text-decoration : none;
    color : #000;
}

