<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    </head>
    <body>
        <div>
            {{ note_form.csrf_token }}
            {{ note_form.new(form="main_form") }}
            {{ note_form.save(form="main_form") }}
            {{ note_form.delete(form="main_form") }}
        </div>
        <div class=all_notes tabindex="6">
        <div class=single_preview>
        {{  current_notebook.title}}
        </div>
        {% for notebook in notebooks %}
            <div class=single_preview>
                <a href="{{ url_for('notebook_view', notebook_id=notebook.id) }}">
                <h3>{{ notebook.get_title() }}</h3>
                </a>
            </div>
        {% endfor %}
        </div>
        <div class=all_notes tabindex="6">
        <div class=single_preview>
        {{  current_section.title }}
        </div>
        {% for section in sections %}
            <div class=single_preview>
                <a href="{{ url_for('section_view', section_id=section.id)  }}">
                <h3>{{ section.get_title() }}</h3>
                </a>
            </div>
        {% endfor %}
        </div>
        <div class=all_notes tabindex="6">
        {% for note in notes %}
            <div class=single_preview>
                <a href="{{ url_for('default_view', note_id=note.id) }}">
                <h3>{{ note.get_title() }}</h3>
                <p>{{ note.get_preview() | safe }}</p>
                </a>
            </div>
        {% endfor %}
        </div>
        <div class=single_note>
            <form method="POST" id="main_form">
                {% block singlesnote %}
                {% endblock %}
            </form>
        </div>
            <script>
               CKEDITOR.replace( 'note_body', {
                    extraPlugins: 'autogrow',
                    autoGrow_onStartup: true,
                    removePlugins: 'resize',
                    filebrowserBrowseUrl: "{{ url_for('upload_file') }}",
                    filebrowserUploadUrl: "{{ url_for('upload_file') }}",
                    filebrowserWindowWidth  : 100,
                    filebrowserWindowHeight : 200,
                    tabSpaces : 4,
                    toolbar : [
                        { name: 'tools', items: [ 'Maximize' ] },
                        { name: 'clipboard', items: [ 'Undo', 'Redo' ] },
                        { name: 'clipboard', items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord'  ] },
                        { name: 'editing', items: [ 'SelectAll', '-','Find', 'Replace', '-',  'Scayt', 'AutoCorrect' ] },
                        { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                        { name: 'bidi', items: [ 'BidiLtr', 'BidiRtl' ] },
                        { name: 'insert', items: [ 'CodeSnippet', 'Image', 'Table', 'Smiley', 'SpecialChar' ] },
                        { name: 'insert', items: [ 'HorizontalRule', 'PageBreak' ] },
                        { name: 'insert', items: [ 'Blockquote', 'CreateDiv' ] },
                        { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                        { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline' ] },
                        { name: 'basicstyles', items: [ 'Strike', 'Subscript', 'Superscript' ] },
                        { name: 'basicstyles', items: [ 'CopyFormatting', 'RemoveFormat' ] },
                        { name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },
                        { name: 'paragraph', items: [ 'Outdent', 'Indent' ] },
                        { name: 'paragraph', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-' ] },
                        { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                    ],
                });
            </script>
    </body>
</html>
