<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class=all_notes>
        {% for note in notes %}
            <div class=single_preview>
                <a href="{{ url_for('home2', note_id=note.id) }}">
                <h3>{{ note.title }}</h3>
                <p>{{ note.preview }}</p>
                </a>
            </div>
        {% endfor %}
        </div>
        <div class=single_note>
            {{ single_note.body}}
        </div>
    </body>
</html>