<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    </head>
    <body>
        <div class=all_notes>
        {% for note in notes %}
            <div class=single_preview>
                <a href="{{ url_for('home2', note_id=note.id) }}">
                <h3>{{ note.title }}</h3>
                <p>{{ note.preview | safe }}</p>
                </a>
            </div>
        {% endfor %}
        </div>
        <div class=single_note>
            <form method="POST">
            <input type="text"  name="title" value="{{ single_note.title }}" style="font-size:30pt"><br>
            <input type="datetime-local" name="creation_date" value="{{ single_note.creation_date.strftime('%Y-%m-%d %H:%M').replace(' ', 'T') }}"><br>
            <input type="datetime-local" name="modification_date" value="{{ single_note.modification_date.strftime('%Y-%m-%d %H:%M').replace(' ', 'T') }}"><br>
            <textarea name="editor1" id="editor1" rows='50' cols="80">
                {{ single_note.body }}
            </textarea>
            <input type="submit" name="submit" value="New">
            <input type="submit" name="submit" value="Save">
            <input type="submit" name="submit" value="Delete">
            </form>
            <script>
                CKEDITOR.replace( 'editor1' );
            </script>
        </div>
    </body>
</html>